* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.nav {
  display: flex;
  grid-area: nav;
  background-color: #32576e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #32576e, #1c3c50); }

.nav img {
  margin: 10px;
  margin-top: 18px;
  margin-right: 90px; }

.nav-list {
  display: flex;
  grid-area: nav;
  background-color: #baa07b;
  width: 150px;
  text-align: center;
  color: #1c3c50;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  background-color: #baa07b;
  flex-direction: row;
  margin-right: 25px;
  padding: 8px 0; }

.navproductos {
  display: flex;
  grid-area: nav;
  background-color: #32576e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

#inicio {
  display: grid;
  grid-template-columns: 0.5fr 0.3fr 1fr 0.3fr 0.4fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 0.2fr 1fr 0.4fr;
  grid-template-areas: "nav nav nav nav nav" "aside titulo1 titulo1 titulo1 aside2" "aside area1 area2 area3 aside2" "aside titulo2 titulo2 titulo2 aside2" "aside area4 area5 area6 aside2" "footer footer footer footer footer";
  width: 100vw; }

#productos {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 1fr 0.4fr;
  grid-template-areas: "nav nav nav nav nav" "aside titulo1 titulo1 titulo1 aside2" "aside area11 area21 area31 aside2" "aside area41 area51 area61 aside2" "footer footer footer footer footer";
  width: 100vw; }

#promociones {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr 0.4fr;
  grid-template-areas: "nav nav nav nav" "aside titulo1 titulo1 aside2" "aside area12 area22 aside2" "aside area32 area42 aside2" "aside area52 area62 aside2" "footer footer footer footer";
  width: 100vw; }

#quienes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 0.2fr 1fr 0.5fr;
  grid-template-areas: "nav" "titulo1" "area1" "titulo2" "area2" "footer"; }

#consultas {
  display: grid;
  grid-template-columns: 0.2fr 1 fr 0.2 fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 0.5fr;
  grid-template-areas: "nav" "titulo1" "area13" "footer";
  width: 100vw;
  min-height: 800px; }

.titulo1 {
  grid-area: titulo1;
  display: flex;
  background-color: #7ba2ba;
  color: #1c3c50;
  width: 420px;
  height: 30px;
  margin: 15px auto;
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  flex-direction: row;
  align-items: center; }

.titulo2 {
  grid-area: titulo2;
  display: flex;
  background-color: #7ba2ba;
  color: #1c3c50;
  width: 420px;
  margin: 15px auto;
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  align-items: center; }

.aside {
  grid-area: aside;
  display: flex;
  border: 2px solid #1c3c50;
  border-radius: 10px;
  margin: 5px 2px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between; }

.aside img {
  display: flex;
  margin: 30px 0;
  width: 200px; }

.aside2 {
  grid-area: aside2;
  display: flex;
  border: 2px solid #1c3c50;
  border-radius: 10px;
  margin: 5px 2px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between; }

.aside2 img {
  display: flex;
  margin: 30px 0;
  width: 200px; }

.footer {
  display: flex;
  grid-area: footer;
  background-color: #32576e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #baa07b;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center; }

.pie-1 {
  font-weight: bold;
  font-size: x-large; }

.pie-2 {
  margin-right: 310px; }

.pie-logo {
  width: 150px; }

.area1 {
  grid-area: area1;
  margin-left: 21px;
  margin-bottom: 30px;
  margin-top: 30px; }

.area1 img {
  width: 286px;
  height: 160px; }

.area2 {
  grid-area: area2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

.area2 carousel slide {
  display: flex; }

.area2 img {
  width: 286px;
  height: 330px; }

.area5 {
  grid-area: area5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.area5 img {
  width: 286px;
  height: 160px; }

#area11 img {
  width: 286px;
  height: 180px; }

#area21 img {
  width: 286px;
  height: 180px; }

#area31 img {
  width: 286px;
  height: 180px; }

#area41 img {
  width: 286px;
  height: 180px; }

#area51 img {
  width: 286px;
  height: 180px; }

#area61 img {
  width: 286px;
  height: 180px; }

#area12 {
  grid-area: area12;
  display: flex;
  margin-left: 0px;
  margin-bottom: 2px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start; }

#area22 {
  grid-area: area22;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

#area12 img {
  width: 286px;
  height: 180px; }

#area22 img {
  width: 286px;
  height: 180px; }

#area32 img {
  width: 286px;
  height: 180px; }

#area42 img {
  width: 286px;
  height: 180px; }

#area52 img {
  width: 286px;
  height: 180px; }

#area62 img {
  width: 286px;
  height: 180px; }

.area13 {
  grid-area: area13; }

.area1quienes {
  grid-area: area1;
  display: flex;
  background-color: #7ba2ba;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: #1c3c50;
  align-items: center; }

.area2quienes {
  grid-area: area2;
  display: flex;
  background-color: #7ba2ba;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  color: #1c3c50;
  margin-bottom: 10px;
  height: 300px; }

.parrafoquienes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  height: 150px;
  width: 670px;
  align-items: center;
  margin: auto; }

.mapaquienes {
  width: 600px;
  height: 250px;
  border: 0;
  margin-left: 60px;
  border-radius: 10px; }

.parrafodonde {
  display: flex;
  height: 89px;
  width: 252px;
  flex-direction: row;
  align-items: center;
  margin: auto; }

.imgfercla {
  border-radius: 10px;
  margin-right: 15px; }

.formulario {
  display: flex;
  margin-left: 0px;
  margin-bottom: 2px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #baa07b;
  border-radius: 10px;
  margin: 10px 100px;
  height: 260px; }

.nombre {
  display: flex;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  margin: 20px;
  margin-left: 211px; }

.apellido {
  display: flex;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  margin: 20px;
  margin-right: 221px; }

.correo {
  display: flex;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  margin-left: 180px;
  margin-right: 43px; }

.telefono {
  display: flex;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  margin-right: 190px; }

.datos3 {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 113px;
  margin-left: 115px; }

.datos4 {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  align-items: center;
  margin-left: 358px;
  margin-right: 359px;
  margin-bottom: 15px; }

@media (max-width: 767px) {
  #inicio {
    display: none;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "titulo1" "area2" "titulo2" "area5" "footer"; }
  #productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "titulo1" "area11" "area21" "area31" "area41\a       " area51 " \a       " area61 " aside2" "footer";
    width: 100vw; }
  .nav {
    display: flex;
    grid-area: nav;
    background-color: #32576e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; }
  .nav img {
    margin: 10px;
    margin-top: 18px; }
  .nav-list {
    display: flex;
    grid-area: nav;
    background-color: #baa07b;
    width: 150px;
    text-align: center;
    color: #1c3c50;
    border-radius: 5px;
    text-decoration: none;
    justify-content: center;
    background-color: #baa07b;
    flex-direction: row;
    padding: 8px 0; }
  #consultas {
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "titulo1" "area13" "footer";
    width: 100vw; }
  #quienes {
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "titulo1" "area1" "titulo2" "area2" "footer"; }
  .area1quienes {
    grid-area: area1;
    display: flex;
    background-color: #7ba2ba;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #1c3c50;
    align-items: center; }
  .area2quienes {
    grid-area: area2;
    display: flex;
    background-color: #7ba2ba;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: #1c3c50;
    margin-bottom: 10px;
    height: 350px; }
  .parrafoquienes {
    display: flex;
    text-align: center;
    margin: auto; }
  .mapaquienes {
    width: 600px;
    height: 250px;
    border: 0;
    margin-left: 60px;
    border-radius: 10px;
    margin-top: 20px; }
  .parrafodonde {
    display: flex;
    height: 89px;
    width: 252px;
    flex-direction: row;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    text-align: center; }
  .pie-2 {
    text-align: center; } }
