.area1{
    grid-area: area1;
    margin-left: 21px;
    margin-bottom: 30px;
    margin-top: 30px; 
}
.area1 img{
    width: 286px;
    height: 160px;   
}
.area2{
    grid-area: area2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.area2 carousel slide{
    display: flex;
}
.area2 img{
    width: 286px;
    height: 330px;
}

.area5{
    grid-area: area5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.area5 img{
    width: 286px;
    height: 160px;
}
#area11 img{
    width: 286px;
    height: 180px;
    
  }
  #area21 img{
    width: 286px;
    height: 180px;
  }
  #area31 img{
  width: 286px;
  height: 180px;
  }
  #area41 img{
  width: 286px;
  height: 180px;
  }
  #area51 img{
  width: 286px;
  height: 180px;
  }
  
  #area61 img{
  width: 286px;
  height: 180px;
  }