.area1{
    grid-area: area1;
    margin-left: 21px;
    margin-bottom: 30px;
    margin-top: 30px; 
}
.area1 img{
    width: 286px;
    height: 160px;   
}
.area2{
    grid-area: area2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.area2 carousel slide{
    display: flex;
}
.area2 img{
    width: 286px;
    height: 330px;
}

.area5{
    grid-area: area5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.area5 img{
    width: 286px;
    height: 160px;
}
#area11 img{
    width: 286px;
    height: 180px;
    
  }
  #area21 img{
    width: 286px;
    height: 180px;
  }
  #area31 img{
  width: 286px;
  height: 180px;
  }
  #area41 img{
  width: 286px;
  height: 180px;
  }
  #area51 img{
  width: 286px;
  height: 180px;
  }
  
  #area61 img{
  width: 286px;
  height: 180px;
  }
#area12{
    grid-area: area12;
    display: flex;
    margin-left: 0px;
    margin-bottom: 2px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#area22{
    grid-area: area22;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#area12 img{
    width: 286px;
    height: 180px;
    
}
#area22 img{
    width: 286px;
    height: 180px;
}
#area32 img{
  width: 286px;
  height: 180px;
}
#area42 img{
  width: 286px;
  height: 180px;
}
#area52 img{
  width: 286px;
  height: 180px;
}
#area62 img{
  width: 286px;
  height: 180px;
}
.area13{
    grid-area: area13;
    display: flex;
    margin-left: 0px;
    margin-bottom: 2px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: $marron;
    border-radius: 10px;
    margin: 10px 100px;
    height: 260px;
}
.area1quienes{
  grid-area: area1;
  display: flex;
  background-color: $celeste;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: $azuloscuro;
  align-items: center;
}
.area2quienes{
    grid-area: area2;
    display: flex;
    background-color: $celeste;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: $azuloscuro;
    margin-bottom: 10px;
    height: 300px;
}
.parrafoquienes{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    height: 150px;
    width: 670px;
    align-items: center;
    margin: auto;
}
.mapaquienes{
  width: 600px;
  height: 250px;
  border: 0;
  margin-left: 60px;
  border-radius: 10px;
}
.parrafodonde{
  display: flex;
  height: 89px;
  width: 252px;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
.imgfercla{
    border-radius: 10px;
    margin-right: 15px;
}
.datos1{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .datos2{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .datos3{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .datos4{
    display: flex;
    margin-top: 11px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }