.area1{
    grid-area: area1;
    margin-left: 21px;
    margin-bottom: 30px;
    margin-top: 30px; 
}
.area1 img{
    width: 286px;
    height: 160px;   
}
.area2{
    grid-area: area2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.area2 carousel slide{
    display: flex;
}
.area2 img{
    width: 286px;
    height: 330px;
}

.area5{
    grid-area: area5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.area5 img{
    width: 286px;
    height: 160px;
}
#area11 img{
    width: 286px;
    height: 180px;
    
  }
  #area21 img{
    width: 286px;
    height: 180px;
  }
  #area31 img{
  width: 286px;
  height: 180px;
  }
  #area41 img{
  width: 286px;
  height: 180px;
  }
  #area51 img{
  width: 286px;
  height: 180px;
  }
  
  #area61 img{
  width: 286px;
  height: 180px;
  }
#area12{
    grid-area: area12;
    display: flex;
    margin-left: 0px;
    margin-bottom: 2px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#area22{
    grid-area: area22;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#area12 img{
    width: 286px;
    height: 180px;
    
}
#area22 img{
    width: 286px;
    height: 180px;
}
#area32 img{
  width: 286px;
  height: 180px;
}
#area42 img{
  width: 286px;
  height: 180px;
}
#area52 img{
  width: 286px;
  height: 180px;
}
#area62 img{
  width: 286px;
  height: 180px;
}
.area13{
    grid-area: area13;
    display: flex;
    margin-left: 0px;
    margin-bottom: 2px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #baa07b;
    border-radius: 10px;
    margin: 10px 100px;
    height: 260px;
}
.area1quienes{
    grid-area: area1;
    display: flex;
    background-color: #7ba2ba;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    color: #1c3c50;
}
.area2quienes{
    grid-area: area2;
    display: flex;
    background-color: #7ba2ba;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: #1c3c50;
    margin-bottom: 10px;
}
.parrafoquienes{
    margin-right: 260px;
    display: flex;
}
.imgfercla{
    border-radius: 10px;
}
.datos1{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .datos2{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .datos3{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .datos4{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }