.aside{
    grid-area: aside;
    display: flex;
    border: 2px solid #32576e;
    border-radius: 10px;
    margin: 5px 2px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.aside img{
    display: flex;
    margin: 30px 0;
    width: 200px;
}
.aside2{
    grid-area: aside2;
    display: flex;
    border: 2px solid #32576e;
    border-radius: 10px;
    margin: 5px 2px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between; 
}
.aside2 img{
    display: flex;
    margin: 30px 0;
    width: 200px;
}
