// estrategia mobile last

@media (max-width:767px){
    #inicio{
      display: grid;
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "nav"
        "titulo1"
        "area2"
        "titulo2"
        "area5"
        "footer"
        ;    
    }
    #productos {
      display: grid;
      grid-template-columns: 1fr; 
      grid-template-areas: 
      "nav"
      "titulo1"
      "area11"
      "area21"
      "area31"
      "area41"
      "area51"
      "area61"
      "footer"
      ;
    width: 100vw;
  }
  #promociones{
    display: grid;
    grid-template-columns: 1fr;  
    grid-template-areas: 
    "nav"
    "titulo1"
    "area12"
    "area22"
    "area32"
    "ares42"
    "area52"
    "area62"
    "footer"
    // "aside area12 area22 aside2"
    // "aside area32 area42 aside2"
    // "aside area52 area62 aside2"
    // "footer footer footer footer"
    ;
    width: 100vw;
  }
   .aside{
    display: none;
   }
   .aside2{
    display: none;
   }
    .nav{
        display: flex;
        grid-area: nav;
        background-color: $azul;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;  
    }
    .nav img{
        margin: 10px;
        margin-top: 18px;
    }
    .nav-list{
      display: flex;
      grid-area: nav;
      background-color: $marron;
      width: 150px;
      text-align: center;
      color: $azuloscuro;
      border-radius: 5px;
      text-decoration: none;
      justify-content: center;
      background-color: $marron;
      flex-direction: row;
      padding: 8px 0;
    }
    
      #consultas{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "titulo1"
        "area13"
        "footer"
        ;
        width: 100vw;
      }
      #quienes{
        grid-template-columns: 1fr; 
        grid-template-areas:
        "nav"
        "titulo1"
        "area1"
        "titulo2"
        "area2"
        "footer"
        ;
      }
      .area1quienes{
        grid-area: area1;
        display: flex;
        background-color: #7ba2ba;
        border-radius: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        color: #1c3c50;
        align-items: center;
      }
      .area2quienes{
        grid-area: area2;
        display: flex;
        background-color: $celeste;
        border-radius: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        color: $azuloscuro;
        margin-bottom: 10px;
        height: 350px;
    }
      .parrafoquienes{
        display: flex;
        text-align: center;
        margin: auto;
    }
    .mapaquienes{
      width: 600px;
      height: 250px;
      border: 0;
      margin-left: 60px;
      border-radius: 10px;
      margin-top: 20px;
    }
    .parrafodonde{
      display: flex;
      height: 89px;
      width: 252px;
      flex-direction: row;
      align-items: center;
      margin: auto;
      flex-wrap: wrap;
      text-align: center;
    }
    .pie-2{
        text-align: center;
    }
    .area11.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .card{
      align-items: center;
    }
    .area21.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area31.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area41.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area51.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area61.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area12.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area22.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area32.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area42.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area52.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
    .area62.card{
      display: flex;
      width: 10px;
      height: 280px;
      margin: 3px;
      margin: auto;   
    }
}
// width: 18rem; height: 280px; margin: 3px;
// .aside{ 
//   display: none;
// }
// .aside2{
//   display: none; 
// }
// .aside{
//   margin: 0;
//   padding: 0;
// }
// .aside2{
//   margin: 0;
//   padding: 0;
// }